.view-import-new {
  .el-steps {
    margin-top: 20px;
  }
  .view-import__actions{
    max-width: 400px;
    margin: 40px auto 0;
  }
}
.view-import-new__content {
  margin: 40px auto 20px;
  h2, >p, h4 {
    text-align: center;
  }
  .enrichment-step .el-card {
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .el-collapse-item__header {
    height: 100%;
    line-height: inherit;
    padding: 10px 0;
  }
  .el-collapse-item__arrow {
    line-height: 20px;
    margin: 0;
  }
}
