@import '../variables';

.external-view {

  height: 100%;
  main{
    background-color: #fff !important;
  }

  .external-view__title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .external-view__form {
    margin: auto;
    width: 400px;
    padding: 20px;
  }

  .external-view__submit {
    width: 100%;
  }

  .external-view__info {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }

  .external-view--back-button {
    position: absolute;
    top: 36px;
    left: 36px;
    color: initial;
    cursor: pointer;
    img{
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}
