.external-view{
  height: 100%;
  color: #adadad;
  >.el-row, >.el-row>.el-col, >.el-row>.el-col>.el-row {
    height: 100%
  }
  form{
    width: 400px;
    padding: 20px;
    .forgot-password{
      font-size: 12px;
      position: absolute;
      top: 2px;
      right: 8px;
    }
    .el-button--primary{
      width: 100%;
    }
  }
  h1{
    color: #343c4b;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .info{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
  .back-button{
    position: absolute;
    top: 36px;
    left: 36px;
    color: initial;
    cursor: pointer;
    img{
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}
