.onboarding-view{
  height: 100%;
  background-color: #fff;
  >.el-row, >.el-row>.el-col, >.el-row>.el-col>.el-row {
    height: 100%
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    overflow: auto;
    max-height: 100vh;
    > div{
      padding: 120px 0;
      margin: auto 150px;
    }
  }
  form{
    .el-button--primary{
      width: 100%;
    }
  }
  .el-button--text{
    margin-left: 30px;
  }
  h1{
    color: #343c4b;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .radio-group{
    margin-top: 40px;
    p{
      white-space: normal;
      color: #adadad;
      font-size: 12px;
    }
    strong{
      font-size: 16px;
    }
    &.vertical{
      display: flex;
      margin-bottom: 40px;
      .el-radio{
        padding: 20px;
        flex-direction: column;
      }
      .sync-app{
        div{
          position: relative;
          width: 80px;
          height: 50px;
          text-align: center;
          margin: 20px 0;
          img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }
    &.horizontal{
      .el-radio{
        padding: 20px;
        padding-right: 20px;
        margin: 0 0 20px !important;
        &:last-of-type{
          margin-bottom: 40px !important;
        }
        .sync-service{
          display: flex;
          div{
            margin: auto;
            margin-left: 10px;
            &+div{
              margin-left: 30px;
            }
          }
        }
      }
    }
    .el-radio{
      display: flex;
      align-items: center;
      height: auto;
      img{
        max-height: 50px;
        max-width: 80px;
      }
    }
  }
  ul{
    padding: 0;
    margin: 10px 0 20px;
    li{
      margin-top: 10px;
      list-style-type: none;
      img{
        &:first-of-type{
          margin-right: 20px;
        }
        &:last-of-type{
          cursor: pointer;
          float: right;
        }
      }
    }
  }
  .previous-step{
    z-index: 9;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    i{
      font-weight: bold;
      font-size: 20px;
    }
  }
  @media (max-width: 991px) {
    .swiper-slide{
      > div{
        padding: 40px 0;
        margin: auto 40px;
        text-align: center;
      }
    }
    .el-form-item {
      text-align: left;
    }
    .radio-group{
      &.vertical {
        flex-direction: column;
        label{
          margin: 10px !important;
        }
      }
    }
    ul{
      text-align: left;
    }
    .previous-step{
      padding: 10px;
      position: absolute;
      bottom: 30px;
      right: 30px;
    }
  }
}
