.profile-form{
  max-width: 400px;
  margin: 40px auto;
}

.profile-form__avatar{
  text-align: center;
  display: block;
}

.profile-form__edit-photo{
  font-size: 12px;
  color: #adadad;
  display: block;
  text-align: center;
  margin: 10px;
}
