{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/recommended", "@vue/standard", "plugin:vue/strongly-recommended"],
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["warn", "never"],
    "no-var": "error",
    "dot-notation": "warn",
    "prefer-const":"warn",
    "no-debugger": "warn",
    "standard/no-callback-literal": 0,
    "no-trailing-spaces": "warn",
    "vue/max-attributes-per-line": [
      "warn",
      {
        "singleline": 1,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ],
    "vue/no-duplicate-attributes": [
      "error",
      {
        "allowCoexistClass": true,
        "allowCoexistStyle": true
      }
    ],
    "vue/no-use-v-if-with-v-for": [
      "error",
      {
        "allowUsingIterationVar": true
      }
    ],
    "vue/no-textarea-mustache": "error",
    "vue/no-unused-vars": "error",
    "vue/require-valid-default-prop": "error",
    "vue/return-in-computed-property": [
      "error",
      {
        "treatUndefinedAsUnspecified": true
      }
    ],
    "vue/no-multi-spaces": [
      "error",
      {
        "ignoreProperties": false
      }
    ],
    "vue/no-v-html": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
