@import '../colors';

.el-button {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  border-radius: 2.4rem !important;
  border-width: 0.2rem;
  border-color:  $--pj-color-white-blue;
  color: $--pj-color-light-blue;

  span {
    font-weight: 600;
  }

  &:focus, &.el-button--default {
    background-color: $--color-white !important;
    border-color: $--pj-color-white-blue !important;
    color: $--pj-color-light-blue !important;
  }

  &:hover, &:active {
    color: $--pj-color-blue !important;
    background-color: $--pj-color-white-blue !important;
    border-color: $--pj-color-white-blue !important;
  }

  &.is-disabled {
    color: $--pj-color-disabled-blue !important;
  }
}

.el-button--primary {
  color: $--color-white !important;
  background-color: $--pj-color-light-blue !important;
  border-color: $--pj-color-light-blue !important;

  &:focus {
    color: $--color-white !important;
    background-color: $--pj-color-light-blue !important;
    border-color: $--pj-color-light-blue !important;
  }

  &:hover, &:active {
    color: $--color-white !important;
    background-color: $--pj-color-blue !important;
    border-color: $--pj-color-blue !important;
  }

  &.is-disabled {
    background-color: $--pj-color-disabled-blue !important;
    border-color: $--pj-color-disabled-blue !important;
    color: $--color-white !important;
  }
}

.el-button--secondary, .el-button--primary.is-plain {
  color: $--pj-color-light-blue !important;
  background-color: $--color-white !important;
  border-color: $--pj-color-light-blue !important;

  &:focus {
    color: $--pj-color-light-blue !important;
    background-color: $--color-white !important;
    border-color: $--pj-color-light-blue !important;
  }

  &:hover, &:active {
    color: $--pj-color-blue !important;
    background-color: $--color-white !important;
    border-color: $--pj-color-blue !important;
  }

  &.is-disabled {
    color: $--pj-color-disabled-blue !important;
    border-color: $--pj-color-disabled-blue !important;
  }
}

.el-button--transparent, .el-button--text {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: default;

  &:hover, &:focus, &:active {
    background: transparent !important;
    border-color: transparent !important;
  }
}

.el-button--danger {
  color: $--color-white !important;
  background-color: $--js-color-light-red !important;
  border-color: $--js-color-light-red !important;

  &:focus {
    color: $--color-white !important;
    background-color: $--js-color-light-red !important;
    border-color: $--js-color-light-red !important;
  }

  &:hover, &:active {
    color: $--color-white !important;
    background-color: $--js-color-red !important;
    border-color: $--js-color-red !important;
  }

  &.is-disabled {
    background-color: $--js-color-disable-red !important;
    border-color: $--js-color-disable-red !important;
    color: $--color-white !important;
  }
}

.el-button--danger.is-plain {
  color: $--js-color-light-red !important;
  background-color: $--color-white !important;
  border-color: $--js-color-light-red !important;

  &:focus {
    color: $--js-color-light-red !important;
    background-color: $--color-white !important;
    border-color: $--js-color-light-red !important;
  }

  &:hover, &:active {
    color: $--js-color-red !important;
    background-color: $--color-white !important;
    border-color: $--js-color-red !important;
  }

  &.is-disabled {
    color: $--js-color-disable-red !important;
    border-color: $--js-color-disable-red !important;
  }
}

.el-button--input-float {
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 8px;
}

.el-button--icon {
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.el-button--previous-step {
  z-index: 9;
  border-radius: 50% !important;
  padding: 19px !important;
  position: absolute;
  bottom: 100px;
  right: 20px;

  i {
    font-weight: bold;
    font-size: 20px;
  }
}

.el-button {
  svg.circular {
    padding: 5px;
  }
}

.el-input-group__append {
  position: relative;

  .float-button {
    position: absolute;
    left: -16px;
    top: 7px;
  }
}

@media (max-width: 991px) {
  .el-button--previous-step {
    padding: 8px !important;
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
