.el-button--input-float {
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 8px;
}

.el-button--icon {
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.el-button--previous-step {
  z-index: 9;
  border-radius: 6px !important;
  padding: 12px !important;
  position: absolute;
  bottom: 40px;
  right: 40px;
  i{
    font-weight: bold;
    font-size: 20px;
  }
}
