@import '../colors';

.el-button {
  font-family: 'Montserrat', sans-serif !important;
}
.el-button--secondary {
  color: #fff !important;
  background-color: $--color-secondary !important;
  border-color: $--color-secondary !important;

  &:hover {
    background: $--color-secondary-light-2 !important;
    border-color: $--color-secondary-light-2 !important;
    color: #fff !important;
  }
}

.el-button--transparent {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  &:hover {
    color: $--color-text-primary;
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
  }
}

.el-button--input-float {
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 8px;
}

.el-button--icon {
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.el-button--previous-step {
  z-index: 9;
  border-radius: 50% !important;
  padding: 19px !important;
  position: absolute;
  bottom: 100px;
  right: 20px;
  i {
    font-weight: bold;
    font-size: 20px;
  }
}

.el-button {
  svg.circular {
    padding: 5px;
  }
}

.el-input-group__append {
  position: relative;
  .float-button {
    position: absolute;
    left: -16px;
    top: 7px;
  }
}

@media (max-width: 991px) {
  .el-button--previous-step {
    padding: 8px !important;
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
