@import '../colors';

.el-card {
  &.is-always-shadow {
    box-shadow: 0 3px 26px 0 rgba(37, 38, 94, 0.15) !important;
  }
  &.is-hover-shadow:hover {
    box-shadow: 0 3px 26px 0 rgba(37, 38, 94, 0.15) !important;
  }
  &.is-hover-shadow:focus {
    box-shadow: 0 3px 26px 0 rgba(37, 38, 94, 0.15) !important;
  }
}

.el-card--bordered {
  background-color: $--color-white;
  margin-bottom: 10px;
  border-left: solid 4px $--color-secondary;

  &.el-card--success {
    border-left: solid 4px $--color-success;
  }

  &.el-card--danger {
    border-left: solid 4px $--color-danger;
  }

  &.el-card--info {
    border-left: solid 4px $--color-info;
  }
}

.el-card--dashed {
  background-color: $--color-white;
  border: dashed 1px $--color-light-gray;
}

.el-card--dashed-hover {
  background-color: $--color-white;
  border: dashed 1px $--color-light-gray;
  &:hover {
    border-color: $--color-primary;
  }
}

.el-card--feedback {
  .el-card__title {
    font-size: 12px;
    color: $--color-text-secondary;
  }
  .el-card__content {
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.el-card--upload-progress {
  min-width: 400px !important;
}

.el-card--background {
  .el-card__body {
    background: url('../../assets/backgrounds/bg-purple.svg') no-repeat center;
    background-size: 100vw;
  }
}

.el-card--bg{
  &-primary .el-card__body {
    background-image: linear-gradient(to right, $--color-primary-light-1, #4e00e6);
    color: $--color-white;
  }
  &-secondary .el-card__body {
    background-image: linear-gradient(to right, #ff813f, $--color-secondary);
    color: $--color-white;
  }
  &-green .el-card__body {
    background-image: linear-gradient(to right, #00b346, #46e986);
    color: $--color-white;
  }
  &-blue .el-card__body {
    background-image: linear-gradient(to right, #008bdd, #72cbff);
    color: $--color-white;
  }
  &-warning .el-card__body {
    background-color: $--color-warning-light;
  }
  &-info .el-card__body {
    background-color: $--color-info-light;
  }
}
