@import '../colors';

.el-carousel {
  padding: 0 40px;
}

.el-carousel__arrow--left {
    left: -30px;
  }
  .el-carousel__arrow--right {
    right: -30px;
  }

  .el-carousel__arrow {
    color: $--color-text-primary;
  }

// .el-carousel__container--profile {
//
//   .el-carousel__item-main {
//     width: 130px;
//     margin: auto;
//     color: #fff;
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 74%;
//     h2 {
//       margin: 0;
//     }
//     span {
//       font-size: 12px;
//       font-weight: 300;
//     }
//   }
//   .el-carousel__arrow {
//     top: 40%;
//     i {
//       color: $--color-text-primary;
//     }
//   }
//   .el-carousel__arrow--left {
//     left: 0;
//   }
//   .el-carousel__arrow--right {
//     right: 0;
//   }
//
//   .el-carousel__item {
//     background: url('../../assets/backgrounds/bg-purple.svg') no-repeat center bottom;
//   }
//
//   .el-carousel__button {
//     background-color: $--color-primary;
//     border-radius: 50%;
//   }
//
// }
