@import '../colors.scss';

.el-checkbox--active {
  height: auto !important;
  display: flex !important;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-left: 0 !important;

  &.is-checked {
    background-color: #f7f7f7;
  }

  .el-checkbox__label {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .el-checkbox__content {
    display: inline-block;
    margin-left: 20px;
    h3 {
      margin-top: 0;
      font-weight: normal;
    }
    p {
      white-space: normal;
      color: $--color-text-secondary;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .el-checkbox__input {
    padding-left: 10px;
  }

  .el-checkbox__inner {
    background-color: #ffffff00 !important;
    border-color: #ffffff00 !important;
    &::after {
      border-color: $--color-primary;
      width: 4px;
      height: 12px;
    }
  }
}

.el-checkbox--status {
  &.is-checked {
    .el-checkbox__label {
      color: inherit !important;
    }
  }
  &:not(.is-checked) {
    .el-checkbox__inner {
      display: none;
    }
    .el-checkbox__label {
      padding: 0;
    }
  }
  .el-checkbox__inner {
    background-color: #ffffff00 !important;
    border-color: #ffffff00 !important;
    &::after {
      border-color: $--color-primary;
      width: 4px;
      height: 12px;
      top: -2px;
    }
  }
}
