@import '../colors';

.el-collapse {
  border: 0;
  border: none !important;
}

.el-collapse-item {
  border: none !important;

  &__header {
    font-size: 16px;
    border: 0;
  }
  &__wrap {
    border: 0;
    border-radius: 4px;
  }
  &__content {
    font-size: inherit;
  }
  &__arrow {
    margin: 0 0px 0 auto;
  }
}

.el-collapse--bordered {
  border: none !important;
  .el-collapse-item {
    border-radius: 4px;
    border: solid 1px #eeeeee;
    width: 100%;
  }
  .el-collapse-item + .el-collapse-item {
    margin-top: 20px;
  }
  .el-collapse-item__header {
    border: none !important;
    margin: 1px 20px;
  }
  .el-collapse-item__wrap {
    border: none !important;
  }
  .el-collapse-item__content {
    padding-bottom: 0;
    padding: 0 20px 10px;
  }
  .el-collapse-item__header {
    font-weight: 500 !important;
    img {
      vertical-align: bottom;
    }
 }
}

.el-collapse--active {
  .el-collapse-item {
    border: 1px solid $--color-primary;
  }
}

.el-collapse--drag {
  &.el-collapse {
    width: 100%;
    border: 0;
  }
  .el-collapse-item {
    padding: 1px 10px;
    border: solid 1px #eeeeee;
    transition: border ease 0.5s;
    border-radius: 4px;
    &.is-active {
      border: 1px solid $--color-primary;
    }
  }
  .el-collapse-item__header, .el-collapse-item__wrap {
    border: 0;
  }
  .el-collapse-item__header {
    color: $--color-primary;
  }
  .el-collapse-item__main {
    padding-bottom: 0px;
  }
  .el-collapse-item__content {
    padding-bottom: 0 !important;
  }
}
