@import '../colors';

.el-dialog {
  &__body {
    word-break: break-word;
  }
  width: 600px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.06);
  &--lg {
    .el-dialog {
      width: 840px;
    }
  }
}

.el-dialog__header {
  padding-top: 40px;
  padding-bottom: 0px;
}

.el-dialog__headerbtn {
  top: 30px;
  right: 30px;
  .el-dialog__close {
    color: $--color-text-secondary;
  }
}

.el-dialog__title {
  font-weight: bold;
}

.el-dialog__body {
  padding: 20px 20px 0;
}

.el-dialog__footer {
  padding: 20px 20px 40px;
}
