.el-dropdown-menu--notifications {
  width: 680px;
  padding: 30px 20px 0px;
  .el-row{
    margin-bottom: 30px;
  }
  .el-dropdown-menu__header{
    font-weight: bold;
  }
  .el-col-12{
    padding-right: 60px;
  }
  .el-col-4{
    text-align: center;
  }
}

.el-dropdown-menu__item {
  a {
    color: inherit;
  }
}
