@import '../colors';

.el-input__icon--success {
  color: $--color-primary !important;
}

[class^="el-icon-"], [class*=" el-icon-"] {
  &.el-icon-pulse {
    background-color: #fff;
    font-size: 18px;
    animation-delay: .2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: throbber-pulse,throbber-fade;
    animation-timing-function: ease-in-out;
  }
  &.el-icon-danger {
    color: $--color-danger;
  }
  &.el-icon-primary {
    color: $--color-primary;
  }
}
