.el-menu--main-menu {
  margin-top: 118px;
}

.el-menu--team-menu {
  height: 100%;
}

.el-menu--main-menu, .el-menu--team-menu {
  .el-menu-item {
    height: 64px;
    line-height: 64px;
    width: 64px;
    &.is-active {
      border-left: 3px solid #7c4cf3 !important;
      padding-left: 17px !important;
      color: #323c47 !important;
      font-weight: 500 !important;
      background-color: #f6f6f6 !important;
      .el-tooltip {
        padding: 0 17px !important;
      }
    }
  }
}

.el-menu--team-menu {
  .el-menu-item {
    .el-tooltip {
      padding: 0 11px !important;
    }
    &.is-active {
      .el-tooltip {
        padding: 0 8px !important;
      }
    }
  }
}

.el-menu{
  border: none !important;
}

.el-menu__counter {
  float: right;
}

.el-menu__icon {
  margin-right: 16px;
}

.el-menu__icon-search {
  width: 16px;
}

.el-menu__title {
  margin: 80px 0 10px;
  font-size: 12px;
  text-align: center;
}

.el-menu-item:focus {
  background-color: #00000000 !important;
}
