.el-message-box {
  &:not(.el-message-box--center) {
    padding: 20px 0px 30px !important;
  }
  .el-button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 2px;
  }
}

.el-message-box__title {
  font-weight: bold;
  text-transform: capitalize;
}

.el-message-box__main {
  padding: 10px 20px 30px !important;
}
