.el-message-box {
  &:not(.el-message-box--center) {
    padding: 10px 0px 20px !important;
  }
  .el-button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 2px;
  }
  &__title {
    font-weight: bold;
  }
  &__main {
    padding: 10px 20px 30px !important;
  }
  &__btns {
    padding: 10px 15px 0px !important;
  }
  &__message {
    strong {
      text-transform: uppercase;
    }
  }
  &--lg {
    width: 600px;
  }

  &.confirm-init-call-scheduler {
    .el-message-box__content {
      .el-message-box__container {
        .el-message-box__message {
          text-align: justify;
        }
      }
    }
  }
}
