@import '../colors';

.el-notification {
  border-left-width: 4px !important;
  &.success{
    border-left-color: $--color-success;
  }
  &.warning{
    border-left-color: $--color-warning;
  }
  &.error{
    border-left-color: $--color-danger;
  }
  &.info{
    border-left-color: $--color-info;
  }
  &.primary {
    background-color: $--color-primary;
    cursor: pointer;

    .el-notification__icon.el-icon-message-solid::before {
      color: white;
    }

    .el-notification__group {
      .el-notification__title,
      .el-notification__content,
      .el-notification__closeBtn {
        color: white;
      }


      .el-notification__closeBtn {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.el-notification__icon {
  margin-right: 10px;
}

.el-notification__group{
  margin: 0;
}

.el-notification__content p::first-letter {
  text-transform: capitalize;
}

.el-notification.right {
  right: 20px !important;
}
