@import '../variables';

.el-notification {
  background-color: #fafafa;
  border: 0;
  border-left-style: solid;
  border-left-width: 4px;
  &.success{
    border-left-color: $--color-success;
  }
  &.warning{
    border-left-color: $--color-warning;
  }
  &.error{
    border-left-color: $--color-danger;
  }
  &.info{
    border-left-color: $--color-info;
  }
}

.el-notification__group{
  margin: 0;
}
