@import '../colors';

.el-notification {
  border-left-width: 4px !important;

  &.success{
    border-left-color: $--color-success;
  }
  &.warning{
    border-left-color: $--color-warning;
  }
  &.error{
    border-left-color: $--color-danger;
  }
  &.info{
    border-left-color: $--color-info;
  }
  &.primary {
    border-left-color: $--color-primary;
    cursor: pointer;
  }
}

.el-notification__icon {
  margin-right: 10px;
}

.el-notification__group{
  margin: 0;
}

.el-notification__content p::first-letter {
  text-transform: capitalize;
}

.el-notification.right {
  right: 20px !important;
}
