@import '../colors';

.el-popover {
  padding: 0 !important;

  &--dark {
    background-color: $--color-text-primary !important;
    color: white !important;
    border-color: $--color-text-primary !important;
    font-size: 12px !important;
    padding: 10px !important;

    img {
      width: 14px;
      margin-right: 4px;
    }

    .subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }

    .popper__arrow {
      border-bottom-color: #343b4b !important;
      &::after {
        border-bottom-color: #343b4b !important;
      }
    }
  }
}
