@import '../colors';

.el-popover {
  &--dark {
    background-color: $--color-text-primary;
    color: white;
    border-color: $--color-text-primary;
    font-size: 12px;
    padding: 10px;
    img {
      width: 14px;
      margin-right: 4px;
    }
    .subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }
    .popper__arrow {
      border-bottom-color: #343b4b !important;
      &::after {
        border-bottom-color: #343b4b !important;
      }
    }
  }
}
