@import '@/styles/colors.scss';

.el-select {
  .el-tag__close.el-icon-close {
    background-color: #f2f4f6;
    color: #424242;
    &:hover {
      background-color: $--color-light-gray;
      color: #f2f4f6;
    }
  }
  .el-tag--info {
    color: #424242;
    border-color: $--color-primary-light-8;
    background-color: $--color-primary-light-9;
  }
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #424242 !important;
  font-weight: 600;
}

.el-select-dropdown {
  .el-scrollbar {
    .el-select-dropdown__wrap {
      .el-scrollbar__view {
        .el-select-dropdown__item {
          span {
            float: left;

            & + span {
              float: right;
              color: rgb(132, 146, 166);
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
