@import '@/styles/colors.scss';

.el-select {
  .el-tag__close.el-icon-close {
    background-color: #f2f4f6;
    color: #424242;
    &:hover {
      background-color: $--color-light-gray;
      color: #f2f4f6;
    }
  }
  .el-tag--info {
    color: #424242;
    border-color: $--color-primary-light-8;
    background-color: $--color-primary-light-9;
  }
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #424242 !important;
  font-weight: 600;
}
