@import '../colors.scss';

.el-slider {
  width: 100%;
  &--negotiation {
    .el-slider__runway {
      cursor: unset;
      height: 200px;
      box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.06);
      background: radial-gradient(circle, #f1f1f1 0%, rgba(255, 147, 0, 0.05) 100%), #f1f1f1;
    }
    .el-slider__stop {
      left: 100%;
      height: 100%;
      background-color: #c2c2c2;
      border-radius: 0;
      width: 4px;
    }
    .el-slider__marks-text {
      height: 100%;
      margin: 0;
      white-space: nowrap;
      width: 14px;
      z-index: 1;
      > div {
        color: #c2c2c2;
        height: 292px;
        position: relative;
        top: -56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span:first-child {
          display: flex;
          height: 36px;
          align-items:  center;
          align-self: center;
          white-space: pre-wrap;
          text-align: center;
        }
        span:first-child {
          z-index: 1;
          margin-top: 7px;
        }
        span:last-child {
          transform: rotate(45deg);
          margin-left: -12px;
          padding-bottom: 10px;
        }
        :first-child {
          color: white;
        }
        &:before {
          content: ' ';
          position: absolute;
          display: block;
          width: 48px;
          height: 48px;
          top: -5px;
          left: -18.3px;
          background-color: #c2c2c2;
          border-radius: 70% 80% 70% 0;
          border-top: 1px solid white;
          border-right: 1px solid white;
          transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
        }
        &:after {
          content: ' ';
          position: absolute;
          display: block;
          width: 12px;
          height: 12px;
          bottom: 30px;
          left: 1px;
          border-radius: 100%;
          background-color: #c2c2c2;
        }
      }
    }
    .el-slider__button-wrapper {
      top: -41px;
      height: 274px;
      width: 2px;
    }
    .el-slider__button {
      height: 200px;
      border-style: dashed;
      background-color: transparent;
      border-color: #c2c2c2;
      border-radius: 0;
      transform: none !important;
      position: absolute;
      top: 41px;
      border-width: 0 0 0 4px;
      &:after {
        content: '>';
        display: block;
        color: #c2c2c2;
        transform: scaleY(2.6);
        position: absolute;
        font-size: 28px;
        top: 43%;
        left: 8px;
      }
      &:before {
        content: '<';
        display: block;
        color: #c2c2c2;
        position: absolute;
        font-size: 28px;
        transform: scaleY(2.6);
        top: 43%;
        padding-right: 10px;
        left: -28px;
      }
    }
    .el-slider__am1-bar {
      position: absolute;
      margin-top: 20px;
      text-align: center;
      div {
        margin: 4px 0;
        height: 4px;
        background-color: #46E986;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    .el-slider__am2-bar {
      position: absolute;
      margin-top: 134px;
      text-align: center;
      div {
        margin: 4px 0;
        height: 4px;
        background-color: #FFC900;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
    .el-slider__diff-bar {
      position: absolute;
      margin-top: 40px;
      text-align: center;
      z-index: 99;
      &:before, &:after {
        content: ' ';
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        top: -3px;
        background-color: $--color-primary;
        border-radius: 50%;
      }
      &:before {
        left: -5px;
      }
      &:after {
        right: -5px;
      }
      > div {
        background-color: #9460f7;
        width: fit-content;
        margin: auto;
        border-radius: 4px;
        color: white;
        padding: 4px 14px;
        margin-top: -19px;
        z-index: 99;
        &.collapse {
          width: 106px;
          margin-right: -52.5px;
          position: absolute;
          right: 0;
          &.reverse {
            margin-left: -52.5px;
            left: 0;
            right: unset;
            margin-right: 0;
          }
        }
      }
    }
    .hover:hover {
      .bar, .details {
        display: block;
      }
    }
    .bar {
      display: none;
    }
    .details {
      display: none;
      z-index: 99;
      margin: 6px 8px;
      position: absolute;
      background-color: white;
      top: 0;
      padding: 68px 10px 10px;
      margin-left: -66px;
      width: 132px;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      > div {
        margin-bottom: 10px;
        margin-left: 12px;
        word-break: break-all;
      }
    }
  }
}
