@import '../variables/colors';

.el-steps--wizard {
  width: 140px;
  min-height: 32px;
  margin: auto;
  margin-top: 15px;
  .el-step__icon.is-text {
    padding: 14px;
  }
  .el-step__line {
    background-color: #fff;
    top: 16px !important;
  }
  .el-step__head.is-process, .el-step__head.is-wait {
    color: #adadad !important;
    border-color: white !important;
  }
  .el-step__icon {
    z-index: 0;
  }
}

.el-steps--circle {
  width: 400px;
  .el-step__icon-inner:not(.is-status) {
    display: none;
  }
  .el-step__head {
    &.is-success {
      color: #fff;
      border-color: $--color-primary;
      .el-step__icon {
        background-color: $--color-primary;
      }
    }
    &.is-process{
      border-color: $--color-primary;
      .el-step__icon {
        border-width: 5px;
      }
    }
    &.is-wait {
      color: #e0e0e0;
      border-color: #e0e0e0;
    }
  }
  .el-step__line {
    background-color: #e0e0e0;
  }
}
