@import '../colors';

.el-table {
  .cell {
    word-break: break-word;
    img {
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }
  }
  &--list {
    margin-bottom: 20px;
    td {
      padding: 4px 0;
      border: 0;
    }
    img {
      width: 16px;
    }
    &::before {
      display: none;
    }
    .el-table__empty-block {
      display: none;
    }
    .el-table__fixed::before, .el-table__fixed-right::before {
      display: none;
    }
  }
}

.el-table--disputes {
  margin-bottom: 10px;
  th {
    font-weight: 500;
    color: $--color-text-primary;
    height: 47px;
  }
  &::before {
    display: none;
  }
  &.el-table--mini {
    td {
      padding: 0;
    }
  }
  td.text-ellipsis .cell {
    display: flex;
    div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .el-table__row {
    cursor: pointer;
  }
  .el-table__empty-text {
    i {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: normal;
      line-height: initial;
    }
  }
  .el-table__body tbody{
    tr {
      // &:hover {
      //   transform: scale(1);
      //   box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      //   > td {
      //     background-color: initial;
      //     &:first-child {
      //       border-left: 1px solid #f6f6f6;
      //       > .cell {
      //         padding-left: 13px;
      //       }
      //     }
      //     &:last-child {
      //       border-right: 1px solid #f6f6f6;
      //       > .cell {
      //         padding-right: 9px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

.el-table--card {
  th {
    font-weight: 500;
  }
  thead {
    color: $--color-text-primary;
  }
  th.is-leaf, td {
    border: 0;
  }
  &::before {
    height: 0px;
  }
  .el-table__header {
    width: auto !important;
    padding-left: 6px;
    padding-right: 20px;
    th {
      &:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
  .el-table__body {
    padding-left: 6px;
    padding-right: 20px;
    border-spacing: 0px 20px;
    width: auto !important;
  }
  .el-table__row {
    height: 56px;
    td {
      &:nth-child(2) {
        padding-left: 10px;
      }
      &:not(:first-child) {
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 4px 4px 14px 0 rgba(37, 38, 94, 0.12);
      }
      &:after:not(:last-child) {
        content: ' ';
        position: absolute;
        background: white;
        top: 0;
        right: -11px;
        bottom: 0;
        width: 20px;
      }
      &:not(:nth-child(2)):before {
        content: ' ';
        position: absolute;
        background: white;
        top: 0;
        left: -11px;
        bottom: 0;
        width: 20px;
      }
    }
  }
}

.el-table--feedback-card {
  .el-table__header {
    th {
      padding-top: 0;
      padding-bottom: 0;
    }
    .cell {
      color: $--color-text-secondary;
      font-weight: normal !important;
    }
  }
  .el-table__body {
    td {
      padding: 0;
      &:first-child {
        font-weight: 600;
      }
    }
  }
  * {
    border: 0 !important;
  }
  &::before {
    content: initial !important;
  }
  th:first-child, td:first-child {
    .cell{
      // padding-left: 0;
    }
  }
  th:last-child, td:last-child {
    .cell{
      // padding-right: 0;
    }
  }
  .el-table__row:hover {
    > td {
      background-color: #fff !important;
    }
  }
}

.el-table__row {
  // &.el-table__row--loading {
  //   position: relative;
  //   cursor: wait;
  //   &:after {
  //     content: ' ';
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     height: 45px;
  //     z-index: 1;
  //     background: url('../../assets/loading.svg') no-repeat center;
  //     background-color: hsla(0,0%,100%,.9);
  //   }
  // }
  &.el-table__row--visualized-row {
    font-weight: 700;
  }
}
