@import '../colors';

.el-table--card {
  th {
    font-weight: 500;
  }
  thead {
    color: $--color-text-regular;
  }
  th.is-leaf, td {
    border: 0;
  }
  &::before {
    height: 0px;
  }
  .el-table__header {
    // width: auto !important;
    padding-left: 6px;
    padding-right: 20px;
    th {
      &:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
  .el-table__body {
    padding-left: 6px;
    padding-right: 20px;
    border-spacing: 0px 20px;
    width: auto !important;
  }
  .el-table__row {
    height: 56px;
    td {
      &:nth-child(2) {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
      &:not(:first-child) {
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.12);
      }
      &:after:not(:last-child) {
        content: ' ';
        position: absolute;
        background: white;
        top: 0;
        right: -12px;
        bottom: 0;
        width: 12px;
      }
      &:not(:nth-child(2)):before {
        content: ' ';
        position: absolute;
        background: white;
        top: 0;
        left: -12px;
        bottom: 0;
        width: 12px;
      }
    }
    .el-table-column--selection {
      // border-left: 4px solid #72cbff;
      border-radius: 4px;
    }
  }
}

.el-table--feedback-card {
  .el-table__header {
    th {
      padding-top: 0;
      padding-bottom: 0;
    }
    .cell {
      color: $--color-text-secondary;
      font-weight: normal !important;
    }
  }
  .el-table__body {
    td {
      padding: 0;
      &:first-child {
        font-weight: 600;
      }
    }
  }
  * {
    border: 0 !important;
  }
  &::before {
    content: initial !important;
  }
  th:first-child, td:first-child {
    .cell{
      // padding-left: 0;
    }
  }
  th:last-child, td:last-child {
    .cell{
      // padding-right: 0;
    }
  }
  .el-table__row:hover {
    > td {
      background-color: #fff !important;
    }
  }
}
