@import '../colors.scss';

.el-tabs__item {
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  img {
    vertical-align: sub;
    width: 14px;
    margin-left: 4px;
  }
}

.el-tabs--card {
  & > .el-tabs__header {
    border: 0;
    .el-tabs__nav {
      border: 0;
    }
    .el-tabs__item {
      border: solid 1px #e4e7ed !important;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
      &.is-active {
        border: solid 1px $--color-primary !important;
        background-color: #f2ecff;
      }
    }
  }
}

.el-tabs--centered{
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
  }
}
