.el-tabs__item {
  height: 36px;
  line-height: 36px;
}

.el-tabs--card {
  & > .el-tabs__header {
    border: 0;
    .el-tabs__nav {
      border: 0;
    }
    .el-tabs__item {
      border: solid 1px #e4e7ed !important;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
      &.is-active {
        border: solid 1px #9461f7 !important;
        background-color: #f2ecff;
      }
    }
  }
}

.el-tabs--centered{
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
  }
}

// .el-tabs--hide-prev .el-tabs__nav-prev {
//   display: none;
// }
//
// .el-tabs--hide-next .el-tabs__nav-next {
//   display: none;
// }
