@import '../colors';

.el-tag--dropzone {
  width: 100%;
  color: $--color-text-secondary !important;
  background-color: #fff !important;
  border: dashed 1px $--color-text-secondary !important;
  font-size: 11px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.el-tag--etiqueta {
  max-width: 100%;
  margin: 3px;
  height: 28px;
  line-height: 28px;
  font-weight: 600 !important;

  .el-button.el-button--text {
    color: inherit !important;
    padding: 6px 0;
  }

  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  i {
    font-size: 14px;
  }

  .el-icon-close:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &.active {
    border: 2px solid $--color-primary;
    padding: 0 9px;
  }
}

.el-tag--new, .el-tag--etiqueta {
  display: inline-flex;
  color: #424242;

  width: 80%;

  .el-button.el-button--text {
    color: inherit !important;
  }
}

.el-tag--new {
  width: 92.5%;
  height: 36px;
  align-items: center;
  margin: 0;

  i {
    font-size: 18px;
  }

  .el-input__inner {
    padding: 0px 8px;
    font-size: 18px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    height: 28px;
  }

  .el-button.el-button--text {
    transform: rotate(90deg);
    padding-top: 4px;
  }
}

.el-tag--click {
  cursor: pointer;
}

.el-tag--etiqueta-select {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  margin: 0px;
}

.el-tag--dropzone-active {
  background-color: $--color-primary !important;
  border: solid 1px $--color-primary !important;
  color: #fff !important;
  padding-right: 30px !important;

  .el-tag__close {
    color: #fff !important;
    top: 8px !important;
    right: 8px !important;
    position: absolute !important;
  
    &:hover {
      background-color: $--color-primary-light-3 !important;
      color: #fff !important;
    }
  }
}

.el-tag--drag {
  color: $--color-text-primary !important;
  border-radius: 20px !important;
  background-color: #f7f7f7 !important;
  border: solid 1px #eeeeee !important;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.el-tag--drag-add {
  @extend .el-tag--drag;
  cursor: pointer;
  color: $--color-text-primary !important;
}

.el-tag--drag-container {
  opacity: 0.99;
  cursor: move;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.el-tag--drag-active {
  pointer-events: none;
  .el-tag {
    border: solid 1px $--color-primary !important;
    text-decoration: line-through;
  }
}

.el-tag--company-tag {
  color: $--color-white !important;
  border: 0 !important;
  min-width: 200px;
  height: 36px;
  line-height: 36px;
}
