@import '../variables/colors';

.el-tag--dropzone {
  width: 100%;
  color: $--color-text-secondary !important;
  background-color: #fff !important;
  border: dashed 1px $--color-text-secondary !important;
  font-size: 11px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.el-tag--dropzone-active {
  background-color: $--color-primary !important;
  border: solid 1px $--color-primary !important;
  color: #fff !important;
  padding-right: 30px !important;
  .el-tag__close {
    color: #fff !important;
    top: 8px !important;
    right: 8px !important;
    position: absolute !important;
    &:hover {
      background-color: $--color-primary-light-3 !important;
      color: #fff !important;
    }
  }
}

.el-tag--drag {
  cursor: move;
  color: $--color-text-primary !important;
  border-radius: 20px !important;
  background-color: #f7f7f7 !important;
  border: solid 1px #eeeeee !important;
  margin-right: 10px;
  margin-bottom: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.el-tag--drag-add {
  @extend .el-tag--drag;
  cursor: pointer;
}

.el-tag--drag-active {
  border: solid 1px $--color-primary !important;
  text-decoration: line-through;
  pointer-events: none;
}

.el-tag--company-tag {
  color: $--color-white !important;
  border: 0 !important;
  min-width: 200px;
  height: 36px;
  line-height: 36px;
}
