.el-upload--logo {
  margin-bottom: 20px;
  .el-upload {
    pointer-events: none;
  }
  .el-upload-dragger {
    width: 160px;
    height: 160px;
  }
  &.el-upload--empty {
    .el-upload {
      pointer-events: all;
    }
    .el-upload-dragger {
      padding: 20px 10px;
    }
  }
  .el-upload__text {
    font-size: 12px !important;
  }
  .el-icon-upload {
    margin: 0 0 15px !important;
  }
  .el-upload-list {
    width: 100%;
    max-width: 160px;
  }
  .el-icon-upload-success {
    &:before {
      content: "\E60F";
      color: #343c4b;
    }
  }
  .el-upload-list__item-name {
    pointer-events: none;
  }
}
