/* Colors
-------------------------- */

$--color-white: #fff !default;
$--color-black: #424242 !default;
$--color-gray: #979797 !default;
$--color-light-gray: #f3f4f5 !default;

$--color-primary: #9461f7 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;

$--color-secondary: #ff9300 !default;
$--color-secondary-light-1: mix($--color-white, $--color-secondary, 10%) !default;
$--color-secondary-light-2: mix($--color-white, $--color-secondary, 20%) !default;
$--color-secondary-light-3: mix($--color-white, $--color-secondary, 30%) !default;
$--color-secondary-light-4: mix($--color-white, $--color-secondary, 40%) !default;
$--color-secondary-light-5: mix($--color-white, $--color-secondary, 50%) !default;
$--color-secondary-light-6: mix($--color-white, $--color-secondary, 60%) !default;
$--color-secondary-light-7: mix($--color-white, $--color-secondary, 70%) !default;
$--color-secondary-light-8: mix($--color-white, $--color-secondary, 80%) !default;
$--color-secondary-light-9: mix($--color-white, $--color-secondary, 90%) !default;

$--color-success: #14CC30 !default;
$--color-warning: #FFC900 !default;
$--color-danger: #FF4B54 !default;
$--color-info: #2FBBEC !default;

$--color-success-light-5: mix($--color-white, $--color-success, 50%) !default;
$--color-warning-light-5: mix($--color-white, $--color-warning, 50%) !default;
$--color-danger-light-5: mix($--color-white, $--color-danger, 50%) !default;
$--color-danger-light-3: mix($--color-white, $--color-danger, 30%) !default;
$--color-info-light-5: mix($--color-white, $--color-info, 50%) !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-text-primary: $--color-black !default;
$--color-text-secondary: $--color-gray !default;

$--color-nps-promoter: #14CC30 !default;
$--color-nps-neutral: #979797 !default;
$--color-nps-detractor: #FF4B54 !default;
