/* Colors
-------------------------- */

$--color-white: #fff !default;
$--color-black: #000 !default; // #424242
$--light-gray: #f4f4f4 !default; // #f3f4f5

$--color-cloudy-blue: #d1dbe2 !default; // Substituir por light gray

$--color-primary: #9461f7 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;

$--color-secondary: #ff9300 !default;
$--color-secondary-light-1: mix($--color-white, $--color-secondary, 10%) !default;
$--color-secondary-light-2: mix($--color-white, $--color-secondary, 20%) !default;
$--color-secondary-light-3: mix($--color-white, $--color-secondary, 30%) !default;
$--color-secondary-light-4: mix($--color-white, $--color-secondary, 40%) !default;
$--color-secondary-light-5: mix($--color-white, $--color-secondary, 50%) !default;
$--color-secondary-light-6: mix($--color-white, $--color-secondary, 60%) !default;
$--color-secondary-light-7: mix($--color-white, $--color-secondary, 70%) !default;
$--color-secondary-light-8: mix($--color-white, $--color-secondary, 80%) !default;
$--color-secondary-light-9: mix($--color-white, $--color-secondary, 90%) !default;

$--color-success: #46E986 !default; // #14CC30
$--color-warning: #FFC900 !default;
$--color-danger: #FF4B54 !default;
$--color-info: #72cbff !default; // #2FBBEC

$--color-success-light-5: mix($--color-white, $--color-success, 50%) !default;
$--color-warning-light-5: mix($--color-white, $--color-warning, 50%) !default;
$--color-danger-light-5: mix($--color-white, $--color-danger, 50%) !default;
$--color-danger-light-3: mix($--color-white, $--color-danger, 30%) !default;
$--color-info-light-5: mix($--color-white, $--color-info, 50%) !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-text-primary: #424242 !default; // #727272 #343c4b
$--color-text-regular: #424242 !default; // #424242
// $--color-text-secondary: #adadad !default;
$--color-text-secondary: #979797 !default;
$--color-text-placeholder: $--color-text-regular !default;



/*
xs: 4px
sm: 8px
mm: 12px
cp: 16px
md: 24px
nm: 32px
lg: 40px
xl: 48px
xxl: 64px


xxs: 4px
xs: 8px
sm: 12px
: 16px
md: 24px
: 32px
lg: 40px
xl: 48px
xxl: 64px


redius:
2px
4px
*/
