@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@import './variables';
@import './keyboard/main.scss';
@import './ckeditor.scss';

html {
  font-size: 14px;
  color: $--color-text-primary;
}
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
  outline: none;
}
body, html, #app {
  height: 100%;
  margin: 0;
  background-color: $--background-color-white;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 20px 0;
}
hr {
  border: solid 0.6px #eeeeee;
}
a {
  cursor: pointer;
}
.el-container {
  height: 100%;
}
.pt0 {
  padding-top: 0 !important;
}
.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml5 {
  margin-left: 5px;
}
.overflow-hidden {
  overflow: hidden;
}
.display-flex {
  display: flex !important;
}
.align-center {
  align-items: center !important;
}
.justify-center {
  justify-content: center !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.border-bottom {
  border-bottom: solid 1px #eeeeee;
}
.border-top-bottom {
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
.icon {
  &--active {
    color: $--color-primary !important;
  }
  &--white {
    color: $--color-white !important;
  }
  &--pointer {
    cursor: pointer;
  }
}

i.el-icon-delete {
  color: $--color-danger;
  &:hover { color: mix($--color-danger, $--color-white, 75%); }
}

.h100 {
  height: 100%
}
.w100 {
  width: 100%;
}
.visible > * {
  visibility: visible !important;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.right {
  float: right;
}
::placeholder {
  font-weight: 300 !important;
}
.text-right {
  text-align: right;
}

.show-right-icon {
  .hidden-icon { transform: translateX(-78%); }
} 
.show-left-icon {
  .hidden-icon { transform: translateX(75%); }
}
.show-right-icon,
.show-left-icon {
  .hidden-icon {
    cursor: pointer;
    transition: .2s ease-out all;
    margin-right: 6px;
    opacity: 0;
    &:hover { color: $--color-primary; }
  }
  &:hover .hidden-icon {
    opacity: 1;
    transform: translateX(0)
  }  
}

.is-pointer {
  cursor: pointer;
}

* {
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  background-color: transparent;
  width: 18px;
}
*::-webkit-scrollbar-track { background-color: transparent }
*::-webkit-scrollbar-button { display: none }
*::-webkit-scrollbar-thumb {
  background-color:#adadad97;
  border: 3px solid #fff;
  border-left-width: 9px;
  border-radius: 11px 7px 7px 11px;
  transition: .3s ease-out all;
  &:hover { background-color:#adadadad; }
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: #adadad;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 #adadad,
      .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 #adadad,
      .5em 0 0 #adadad;
  }
}
@keyframes throbber-fade {
  0%,to {
    opacity: .3
  }
  40%,60% {
    opacity: 1
  }
}
@keyframes throbber-pulse {
  0%,to {
    transform: scale3d(.5,.5,1)
  }
  50% {
    transform: scaleX(1)
  }
}

.show-only-sm {
  display: none;
}

@media (max-width: 900px) {
  .show-right-icon,
  .show-left-icon {
    .hidden-icon {
      transform: translateX(0);
      transition: none;
      opacity: 1;
    }
  }

  .show-only-sm {
    display: block;
  }

  .show-only-md {
    display: none;
  }
}

.negotiation-occurrence-about {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 6px;
  font-size: 11px;

  &.mt-0 {
    margin-top: 0;
  }
}

.date-to-print {
  text-indent: 22px;
  font-weight: 600;
  font-size: 14px;
  color: $--color-text-primary;

  &.no-indent {
    text-indent: 0px;
  }
}

.ck-balloon-panel {
  z-index: 3000 !important;
}

.el-select .el-input {
  overflow: scroll;
  padding-bottom: 1px;
}

/* Make it move */
@keyframes marquee {
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}

.use-marquee-animation {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;

  &:hover {
    display: inline-block;
    overflow-x: visible !important;
    animation: marquee 5s linear infinite;
    text-overflow: unset !important;
  }
}

// Menções no editor.
.ck.ck-content.ck-editor__editable, .note-container__body, .communication-container__message {
  *.justto-mention {
    color: $--color-primary;
  }
}
