@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@import './variables';

html {
  font-size: 14px;
  color: $--color-text-regular;
}
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
  outline: none;
}
body, html, #app, section:not(.ps-container) {
  height: 100%;
  margin: 0;
  background-color: $--background-color-white;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 20px 0;
}
hr {
  border: solid 0.6px #eeeeee;
}
a {
  cursor: pointer;
}
.pt0 {
  padding-top: 0 !important;
}
.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml5 {
  margin-left: 5px;
}
.overflow-hidden {
  overflow: hidden;
}
.display-flex {
  display: flex !important;
}
.align-center {
  align-items: center !important;
}
.justify-center {
  justify-content: center !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.border-bottom {
  border-bottom: solid 1px #eeeeee;
}
.border-top-bottom {
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
.h100 {
  height: 100%
}
.w100 {
  width: 100%;
}
.visible > * {
  visibility: visible !important;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.right {
  float: right;
}
::placeholder {
  font-weight: 300 !important;
}
.text-right {
  text-align: right;
}

.show-right-icon .hidden-icon { transform: translateX(-50%); }
.show-left-icon .hidden-icon { transform: translateX(50%); }
.show-right-icon,
.show-left-icon {
  .hidden-icon {
    transition: .2s ease-out all;
    opacity: 0;
  }
  &:hover .hidden-icon {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: #adadad;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 #adadad,
      .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 #adadad,
      .5em 0 0 #adadad;
  }
}
@keyframes throbber-fade {
  0%,to {
    opacity: .3
  }
  40%,60% {
    opacity: 1
  }
}
@keyframes throbber-pulse {
  0%,to {
    transform: scale3d(.5,.5,1)
  }
  50% {
    transform: scaleX(1)
  }
}

.show-only-sm {
  display: none;
}

@media (max-width: 900px) {
  .show-right-icon,
  .show-left-icon {
    .hidden-icon {
      transform: translateX(0);
      transition: none;
      opacity: 1;
    }
  }

  .show-only-sm {
    display: block;
  }

  .show-only-md {
    display: none;
  }
}