.overflow-hidden {
  overflow: hidden;
}

.display-flex{
  display: flex !important;
}

.position-relative {
  position: relative !important;
}

.border-bottom {
  border-bottom: solid 1px #eeeeee;
}

.border-top-bottom {
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
