.overflow-hidden {
  overflow: hidden;
}

.display-flex{
  display: flex !important;
}

.align-center{
  align-items: center !important;
}

.justify-center{
    justify-content: center !important;
}

.position-relative {
  position: relative !important;
}

.border-bottom {
  border-bottom: solid 1px #eeeeee;
}

.border-top-bottom {
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.h100 {
  height: 100%
}

.w100 {
  width: 100%;
}
