.quill-editor {
  > * {
    border: 0!important;
  }
}
.ql-toolbar {
  display: none;
  padding-left: 0 !important;
  margin-left: -8px;
}
.ql-editor {
  padding: 12px 0px !important;
  &.ql-blank {
    padding: 7px 0px 4px;
    margin-bottom: 10px;
    &::before {
      left: 0 !important;
      font-style: normal !important;
      font-size: 14px !important;
      word-spacing: -1px !important;
    }
  }
}
