@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import './variables';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #424242;
}

* {
  box-sizing: border-box;
}

body, html, #app, section {
  height: 100%;
  margin: 0;
  background-color: $--background-color-base;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  line-height: 1;
}

h4 {
  font-weight: normal;
}

h5 {
}

h6 {
}
