.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter-active {
  display: none;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.swiper-fade-enter-active, .swiper-fade-leave-active {
  transition: opacity .3s;
}
.swiper-fade-enter, .swiper-fade-leave-to {
  opacity: 0;
}
